@model Oefenplatform.MVC.Areas.Teacher.Models.AssessmentFirstLang.AssessmentFirstLangIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Soorten Tests</h1>

<p>
    <a class="btn btn-colour-custom" asp-action="CreateTest">Nieuwe Test</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedAssessments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SelectedAssessments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentTitle)
            </td>
            <td> 
                <a class="btn btn-colour-custom disabled" asp-action="Detail" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
