@model Oefenplatform.MVC.Areas.Admin.Models.SchoolUserCategoryViewModel
@{
	ViewData["Title"] = "Index";
}

<h1>Gebruikersgroepen</h1>


<form class="form-inline" asp-area="Admin" asp-controller="UserCategory" asp-action="Add"
	  method="get">
	<button type="submit" class="btn btn-danger btn-attributes">Maak nieuwe gebruikersgroep aan</button>
</form>

<table>
	<thead>
		<tr>
			<th>
				Gebruikersgroep
			</th>
			<th>
				Acties
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.schoolUserCategories)
		{
			<tr>
				<td>
					@item.Category
				</td>
				<td>
					<div class="d-inline-flex">
						<div>
							<a class="btn btn-success btn-color btn-attributes" asp-controller="UserCategory" asp-action="Details" asp-route-id="@item.Id">Details</a>
						</div>
						<div>
							<a class="btn btn-warning btn-attributes" asp-controller="UserCategory" asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a>
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
