@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
	<form class="form-inline" asp-area="Identity" asp-page="/Account/Register"
		  asp-route-returnUrl="@Url.Page("/", new { area = "" })"
		  method="get">
		<button type="submit">Register</button>
	</form>

