
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leerkrachten portaal</h1>

<a asp-area="Teacher" asp-controller="LangFirstQuestions" asp-action="Index">Taalvragen 1ste graad bekijken</a>
<br />
<a asp-area="Teacher" asp-controller="LangQuestions" asp-action="Index">Taalvragen 2de en 3de graad bekijken</a>
<br />
<a asp-area="Teacher" asp-controller="AssessmentFirstLang" asp-action="Index">Taaltesten voor 1ste graad bekijken</a>